body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #f8f9fa;
  background-color: #000;
}

.cleardata {
  margin: 20px;
  cursor: pointer;
  font-size: 100%;
  background-color: #007aff;
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  border: 0;
}

textarea {
  background: transparent;
  resize: none;
  color: #f8f8f8;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid black;
}

.hour {
  background-color: #b4b4b4;
  color: #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background-color: #000;
  color: white;
}

.present {
  background-color: #007aff;
  color: white;
}

.future {
  background-color: #292b2c;
  color: white
}

.saveBtn {
  border: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #b4b4b4;
  color: #000000;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
